h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    text-align: center;

}

h2{
    margin-left: 400px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    margin-left: 800px;
    padding : 10px;
}

p{
    margin-left: 100px;
    font-size: large;
}

/* Dhmiourgia flexbox */

.flex-container{
    display: flex;
    background-color: chocolate;
}

.flex-container > div{
    background-color: yellow;
    margin : 20px;
    padding: 15px;
    font-size : 20px;
    text-align: left;
}

/* Dhmiourgia Grid */

.grid-container{
    display : grid;
    grid-column: 1/2;
    background-color: chocolate;
    padding : 10px;
}

.grid-container > div{
    background-color: yellow;
    text-align: left;
    font-size: 30px;
}

/* Xrhsh @font-face */

@font-face{
    font-family : 'hattoriHanzo';
    src:url(Hattori_Hanzo.otf);
}

footer{
    font-family: 'hattoriHanzo';
}

a:hover{
    color :red;
}

/* Responsive Web Design */

* {
    box-sizing: border-box;
  }

[class *= "col-"]{
    float : left;
    padding : 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }


/* Διαστάσεις για κινητά */
@media only screen and (max-width: 600px){
    [class*="col-"] {
        width: 90%;
    }
    .flex-container{
        display: flex;
        flex-direction: column;
    }

    button{
        margin-left: 120px;
    }

    h2{
        margin-left: 200px;
    }

    ol{
        margin-right: 900px;
    }

}

/* Διαστάσεις για ταμπλετ */
@media only screen and (min-width: 600px) and (max-width : 900px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    button{
        padding : 5px;
    }
}

/* Διαστάσεις για υπολογιστές (σταθερούς/λαπτοπ) */
@media only screen and (min-width : 900px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* Responsive images */

img{
    max-width: 100%;
}


/* Αλλαγές που αφορούν την άσκηση 8 */

input{
    padding : 5px;
    border-radius: 6px;
    box-sizing: border-box;
    border : 2px solid black;
}

fieldset{
    border-radius: 6px;
    box-sizing: border-box;
    border: 2px solid black;
}

label{
    text-align: center;
    margin-left: 750px;
}

legend{
    margin-left: 750px;
}

details{
    margin-left: 750px;
}

#hForm{
    margin-left : 750px;
}

ol{
    margin-left: 750px;
}

#but{
    padding : 10px;
    margin : 10px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 2px solid green;
    margin-left: 750px;
    width : 15%;
    background-color: cyan;
    font-size: larger;
}

#but:hover{
    background-color: rgb(40, 128, 131);
    color : white;
}